services:
  - type: web
    name: photobooth
    env: node
    buildCommand: bun install && bun run build
    startCommand: bun run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    disk:
      name: photobooth-disk
      mountPath: /opt/render/project/src/vite-express-project/public/photos
      sizeGB: 1

